@media (min-width: 1025px) {
  .info-bar {
    margin-bottom: 3rem;
  }

  .nosotros {
    padding-top: 5rem;
    scroll-margin-top: 100px;
  }

  .nosotros h2 {
    margin-top: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
.nosotros {
  padding-top: 5rem;
  scroll-margin-top: 100px;
}

.info-bar {
  margin-bottom: 3rem;
}
.nosotros h2 {
  margin-top: 2rem; /* fuerza separación visual */
}
}

@media (max-width: 900px) {
  .info-bar {
    gap: 1.5rem;
    padding: 1.2rem 0.8rem;
    background-color: var(--color-secundario);
    color: var(--color-fondo-claro);
  }

  .info-item {
    font-size: 0.9rem;
    max-width: 140px;
    color: var(--color-fondo-claro);
  }

  .info-item i {
    font-size: 1.8rem;
    color: var(--color-fondo-claro);
  }
}

@media (max-width: 500px) {
  .info-bar {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .info-item {
    font-size: 0.85rem;
    max-width: 100%;
    text-align: center;
  }

  .info-item i {
    font-size: 1.6rem;
  }
}